ul{
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li{	
	/*margin-right: 3px;*/
}

ul li a{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	text-align: center;
	color: #fff;
	padding: 5px;
}

.navbar .nav-item a.nav-link{
	color: #000;
	width: 100px;
}

.mobile-nav select{
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 4px;
	background: #eee;
	font-size: 1.5em;
	padding: 5px;
}

ul li a.fa.fa-facebook{
	background: blue;
}

ul li a.fa.fa-twitter{
	background: skyblue;
}

ul li a.fa.fa-google-plus{
	background: red;
}

ul li a.fa.fa-pinterest-p{
	background: pink;
}

.mobile-nav{
	display: none;
}

.slider-content{
	padding: 7% 0 0 13%;
}

.btn-default{
	border: 1px solid #999;
}

.red{
	color: red;
}

.padding-top{
	padding-top: 7%;
}

.padding-right{
	padding-right: 10%;
}

.about-bg-img{
	background-image: url(../images/bg1.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
}
.card-header{
	padding: 0;
}
.card{
	margin-bottom: 8px;
	position: relative;
}

.collection{
	background-image: url("../images/bg3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
	padding: 13% 6%;
	color: #eee;
}

.organic{
	background-image: url("../images/bg4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
	padding: 13% 6%;
	color: #eee;
}

.services{background-image: url("../images/bg5.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 600px;

}

.chef-main{position: relative;}

.chef-main .chef{
	position:absolute;
	bottom: -7rem;
	left:27%;

}

.card-head{background-color: transparent;
	border:none;


}

img.img-blog{margin-top: -60px;
	margin-left: 15px;	
}

.author{
	border-top:2px solid #eee;
	border-bottom:2px solid #eee;
	padding:10px 0;
}


.post-margin-top{margin-top: 130px;}

.all-menu-bg{
		width:100px;
		height:400px;
		background-image: url(../images/bg7.jpg);
		background-size: cover;
		background-repeat: repeat-x;
		animation: slideimage 200000s infinite linear;
		-webkit-animation: slideimage 20000s infinite linear;
		-moz-animation:slideimage 200000s infinite linear;

}

@keyframes slideimage{
	0%{
		background-position: 0%;
	}

	100%{background-position: 90000%;}
}

@-moz-@keyframes slideimage{
	0%{
		background-position: 0}

	100%{background-position: 90000%;}
}

@-webkit-@keyframes slideimage{
	0%{
		background-position: 0}

	100%{background-position: 90000%;}
}


@media only screen and (max-width: 768px){
	.desktop-nav{
		display: none;
	}

	.mobile-nav{
		display: block;
	}

	.chef{display: none;}
}

.width1{margin-left: 500px;}
.width2{margin-left: 450px;}

.bg3,.bg4{width: 50%;}
.bg5{width: 100;}

.topmargin{margin-top: 80px;}

.bg6{width: 100%;}

.pading{background-color: red;padding: 4px;border-radius: 5px;}

.input{width: 40%;border-radius: 5px;}

.bgblack{background-color: black;}

.gray{color:rgb(66, 63, 63);}

.white{color:white;}

.width{width: 100%;}

.width4{width: 100%;}

.bgdar{background-color: rgb(34, 28, 28);}

.mar{margin: 4px;}
